@import url("./variables.css");

:root {
  scrollbar-color: #acacac transparent;
}
::-webkit-scrollbar {
  height: 17px;
  width: 17px;
  background: var(--bgDark);
}

::-webkit-scrollbar-thumb {
  background: var(--textDark);
  -webkit-border-radius: 1ex;
  border: solid 5px var(--bgDark);
}

::-webkit-scrollbar-corner {
  background: var(--bgDark);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--bgDark);
  border: solid 5px var(--bgDark);
}
