@import url("../variables.css");

#container {
  display: flex;
  gap: 10px;
  scroll-margin: 20px;
}

@media (max-width: 725px) {
  /*  FIX: doesn't work witn var() */
  #container {
    overflow-x: scroll;
  }
}
