@import url("../variables.css");

#loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bgDark);
  display: flex;
  justify-content: center;
  align-items: center;
}
img.loadingWheel {
  animation: rotate 1s infinite linear;
  height: 10rem;
  width: auto;
  filter: invert(1) brightness(0.8);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
